.button {
    display:inline-block !important;
    position:relative;
    background-color: transparent;
    cursor: pointer;
    border: solid grey 1px;
    padding: 0.35em 0.5em;
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-family: inherit;
}

.button:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.large {
    font-size: 1.5em;
}

.form {
    width: 30em;
    margin: auto;
}

.form .field {
    margin-bottom: 1.5em;
    width: 100%;
    text-align: center;
}

.form .field label {
    text-align: justify;
}

.form .field > *:not(button) {
    display: block;
    width: 100%;
}

.form .output {
    border: dashed black 1px;
    padding: 1em 0.5em;
}

textarea {
    height: 6em;
}

#error {
    color: red;
    font-size: 1.1em;
    margin-bottom: 1em;
}