@{
    ViewBag.Title = "Home Page";
}

<div id="speech" class="form">
    <div class="field">
        <label class="intro" for="textToSpeak">Enter some text:</label>
        <textarea id="textToSpeak"></textarea>
    </div>

    <div class="field">
        <label for="speechAccent">Select an accent to hear the text in:</label>
        <select id="speechAccent">
            <option value="1">Default</option>
        </select>
    </div>

    <div class="field">
        <label for="btnSpeak">Click to hear your text in the chosen accent:</label>
        <button id="btnSpeak" class="button large">Speak</button>
    </div>

    <div id="loading" style="display:none">loading...</div>

    <div class="field output" id="speechOutput" style="display:none"></div>
</div>

<div id="error" class="form" style="display:none;">
    <p>Your browser doesn't support the &lt;audio&gt; tag, so you can't use this site.</p>
    <p>See a list of supported browsers <a href="http://caniuse.com/audio">here</a>.</p>
</div>

<div class="blurb">
    How does this work? Beats me, to be honest.
</div>

@section scripts {
<script>
var pronunciationUrl = '@Url.Action("Pronounce", "Speech")';
</script>
}
